asgiref
async-timeout
certifi
charset-normalizer
Django
django-admin-decorators
django-admin-list-filter-dropdown
django-ckeditor
django-filter
django-js-asset
django-redis
django-render-partial
idna
kavenegar
mysql-connector-python
Pillow
protobuf
redis
requests
sqlparse
urllib3
